.cnt {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.cnt.frontpage .frontpage {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.logo {
    z-index: 2; 
    width: 70%;
    height: 70%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
}


.panel {
    z-index: 2;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}


.cnt.login .frontpage {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.cnt.login .panel.left {
    width: 40%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #782f4098;
}


.cnt.register .panel.right {
    width: 40%;
    overflow-x: hidden;
    overflow-y: auto;
}

.cnt.register .frontpage {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}


.form-box {
    display: flex;
    width: 40vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.btn-custom_2 {
    z-index: 3;
    border-radius: 8px;
    padding: 8px 28px; 
    border: none; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.404);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-custom_2:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25) !important;
}

.btn-custom_2:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.612) !important;
}
