.btn-custom {
    z-index: 3;
    background-color: #812534e3;
    border-radius: 8px;
    padding: 8px 28px; 
    border: none; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.404);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25) !important;
}

.btn-custom:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.612) !important;
}