
.cardCnt:hover{
    transform: translateY(-5px) scale(1.02);
    background-color: rgb(175, 206, 231);
    box-shadow: 0 8px 20px rgba(41, 40, 40, 0.2);
    z-index: 10;
}

.thumbnailCnt{
    position: relative;

}



.bookmarkImg{
    width: 24px;
    height: 24px; 
    cursor: pointer
}

.pencilImg{
    width: 22px;
    height: 22px;
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid black;
}

.anteprima{
    width: 100%;
    height: 100%;
    max-height: 70%; 
    align-self: flex-start;
    border: 3px solid grey;
}

.anteprima:hover{
    cursor: pointer;
}

.titoloAppunto:hover{
    cursor: pointer;
    color:rgb(102, 102, 219);
}


.logo-profilo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 3px solid var(--bordeaux-dark);
    background-color: var(--bordeaux);
    padding: 4px;
}

.autore-container{
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 8px;
}

.autore-container:hover{
    background-color:#C15B6C;
}
