:root {
    --dark: rgb(0, 0, 0);
    --light: rgba(255, 255, 255, 0.788);
    --sfondo: var(--light);
}

.sfondo {
    z-index: 0;
    position: fixed;
    inset: 0;
    background-size: 40px 40px;
    animation: gridShift 20s linear infinite;
    }

#overlay {
    z-index: 1;
    position: fixed;
    inset: 0;
 
    background-image:
        linear-gradient(rgba(0, 174, 255, 0.192) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 174, 255, 0.192) 1px, transparent 1px);
    background-size: 40px 40px;
    animation: gridShift 20s linear infinite;
}

@keyframes gridShift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 40px;
    }
}